pkgbase = linux-rpi5
	pkgdesc = Vendor kernel and modules for Raspberry Pi 5
	pkgver = 6.18.10
	pkgrel = 1
	url = https://www.raspberrypi.com/
	arch = aarch64
	license = GPL-2.0 WITH Linux-syscall-note
	makedepends = bc
	options = !debug
	options = !strip
	source = linux-9ea9c76f2de058be8cee1391ac877ebdb942943e.tar.gz::https://github.com/raspberrypi/linux/archive/9ea9c76f2de058be8cee1391ac877ebdb942943e.tar.gz
	source = BCM4345C0.hcd::https://raw.githubusercontent.com/RPi-Distro/bluez-firmware/cdf61dc691a49ff01a124752bd04194907f0f9cd/debian/firmware/broadcom/BCM4345C0.hcd
	source = config.txt
	sha256sums = c80c9ffae3bf0a698bf5c207bf4ed878cd538d576b03e6f1dab105d4082a987a
	sha256sums = 51c45e77ddad91a19e96dc8fb75295b2087c279940df2634b23baf71b6dea42c
	sha256sums = 7672f8dcf1e326420f38a44a3116dd66b5e149d5124bc37e3a91db7cea7276f6

pkgname = linux-rpi5

pkgname = linux-rpi5-headers

pkgname = linux-firmware-rpi5
	depends = linux-firmware-broadcom
	replaces = firmware-raspberrypi
